pkgbase = olivetin
	pkgdesc = Give safe and simple access to predefined shell commands from a web interface.
	pkgver = 3000.17.0
	pkgrel = 1
	url = https://www.olivetin.app
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = go
	makedepends = git
	provides = olivetin
	conflicts = olivetin-bin
	backup = etc/OliveTin/config.yaml
	source = olivetin-3000.17.0::git+https://github.com/OliveTin/OliveTin.git#tag=3000.17.0
	source = https://github.com/OliveTin/OliveTin/releases/download/3000.17.0/OliveTin-linux-amd64.tar.gz
	source = systemd-unit-usr-bin.patch
	sha256sums = SKIP
	sha256sums = eebf32945ce8446dfbf7497c5befdee84f5144ae39dbb4680fcb8eec9ec2500a
	sha256sums = 3f5759da171ae5221402b8a2e20101b89ef778e3c269aad1bb7007d18a1ce653

pkgname = olivetin
